body {
  max-width: 700px;
  padding-left: 2em;
  padding-right: 2em;
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-bottom: 1.5em;
}

header div {
  text-align: center;
}

header button {
  margin-bottom: 1.5em;
}

ul li {
  display: inline;
  margin-right: 10px;
}

ol {
  margin-top: 3em;
}

footer {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

ol li:nth-of-type(4) {
  /* seleziono il 4° elemento all'interno degli li della ol */
  color: red;
}

.primary-color {
  color: lightskyblue;
}

.removed {
  display: none;
  /* display: none rimuove l'elemento dalla pagina */
}
